.movieSectionButton, .watchedMoviesButton {
  margin-bottom: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 28px;
  margin-left: 99%;
  background: transparent;
  }
