
  
 
  .movieItem {
    display: flex;
    cursor: pointer;
    background-color: #0D0D0D;
    border-radius: 1rem;
    gap: 5px;
    padding: 0.3rem
  }
  

  .movieItemImage {
    width: 100px;
    border-radius: 1rem;

    object-fit: cover;
  }
  
  
  .movieItemInfo {
    display: grid;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
    align-content: space-around;
  }
  
  .movieItemTitle {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center
  }
  
  .movieItemDate {
    font-size: 0.9rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .movieItemTitle span {
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
  }
  
  
  span {
    font-size: 1rem;
    font-weight: bold;
    color: #d1d1d1;
    margin: 0;  display: flex;
    gap:5px;
    align-items: center
  
  }
 